<div class="todays-weather-container" fxLayout="row" fxLayout>
  <div fxFlex>
    <h1>{{ todaysForecast.name }}</h1>
    <p>
      Temp:
      {{
        showCelciusTemp
          ? (todaysForecast.main.temp | kelvinToCelcius)
          : (todaysForecast.main.temp | kelvinToFahrenheit)
      }}
    </p>
    <p>
      Max:
      {{
        showCelciusTemp
          ? (todaysForecast.main.temp_max | kelvinToCelcius)
          : (todaysForecast.main.temp_max | kelvinToFahrenheit)
      }}
    </p>
    <p>
      Min:
      {{
        showCelciusTemp
          ? (todaysForecast.main.temp_min | kelvinToCelcius)
          : (todaysForecast.main.temp_max | kelvinToFahrenheit)
      }}
    </p>
    <mat-slide-toggle
      color="primary"
      [checked]="showWeeksForecast"
      (input)="toggleWeeksForecast()"
      >Show Week's Forecast</mat-slide-toggle
    >
  </div>
  <div fxFlex>
    <input
      type="search"
      placeholder="Detroit,Mi"
      (keyup.enter)="searchLocation($event)"
    />
  </div>
</div>
<app-weeks-weather
  *ngIf="showWeeksForecast"
  [forecast]="weeksForecast"
></app-weeks-weather>
